.displayContainer{
    width: 400px;
    height: 450px;
    margin: 0 auto;
    margin-top: 100px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tituloContainer{
    font-size: 2.25rem;
    text-align: center;
    color: #FFFF;
    margin-top: 20px;
    margin-bottom: 40px;
}

.inputsContainer{
    text-align: center;
    font-size: 1.1rem;
    color: #FFFF;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 40px;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.senhaContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.textInput{
    width: 200px;
    height: 35px;
    text-align: center;
    background-color: #2b2b2b6b;
    border: none;
    border-radius: 25px;
    color: #FFFF;
    border: 2px solid transparent;
}

.passwordInput{
    width: 200px;
    height: 35px;
    text-align: center;
    background-color: #2b2b2b6b;
    border: none;
    border-radius: 25px;
    color: #FFFF;
    border: 2px solid transparent;
}

.passwordInput:hover{
    border: 2px solid #DB62AB;
}

.textInput:hover{
    border: 2px solid #DB62AB;
}

.textInput::placeholder{
    color: #FFFF;
}

.passwordInput::placeholder{
    color: #FFFF;
}

.btn{
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 7px;
    background-color: #DB62AB;
    color: #FFFF;
}

.btn:hover{
    cursor: pointer;
    background-color: #833b67;
    color: #f8e0ee;
}