.transContainer{
    width: 600px;
    height: 100vh;
    background: rgba(5, 5, 5, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.displayContainer{
    width: 600px;
    height: 100vh;
    background: rgba(5, 5, 5, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 70px;
}

.caixaLoginContainer{
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.tituloContainer{
    color: #FFFF;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.loginContainer input{
    width: 250px;
    height: 25px;
    background-color: #131313;
    text-align: center;
    color: #FFFF;
    border: none;
    padding: 6px;
    border-radius: 25px;
    margin-top: 7px;
    border: 1px solid transparent;
}

.senhaContainer input{
    width: 250px;
    height: 25px;
    background-color: #131313;
    text-align: center;
    color: #FFFF;
    border: none;
    padding: 6px;
    border-radius: 25px;
    margin-top: 7px;
    border: 1px solid transparent;
}

.loginContainer p{
    color: #FFFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.senhaContainer p{
    font-weight: 600;
    color: #FFFF;
    font-size: 1.25rem;

}

.loginInput:hover{
    border: 1px solid #8844ee;
}

.senhaInput:hover{
    border: 1px solid #8844ee;
}

.btn{
    width: 250px;
    height: 40px;
    background-color: #8844ee;
    color: #FFFF;
    border-radius: 7px;
    font-size: 1.25rem;
    border: none;
    font-weight: 600;
}

.btn:hover{
    background-color: #210b42;
    color: #818181;
    cursor: pointer;
}

.senhaInput::placeholder{
    color: #7b7b7b;
}

.loginInput::placeholder{
    color: #7b7b7b;
}